.archive {
	.content-area {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		padding-top: 50px;
		padding-bottom: 100px;

		@media(min-width: $xlargeHDScreen) {
			width: 80%;
		}

		.woocommerce-breadcrumb {
			color: $blue;

			a {
				color: $blue;
				text-decoration: none;
			}
		}

		.woocommerce-result-count {
			display: none;
		}

		.woocommerce-ordering {
			display: none;
		}

		.woocommerce-products-header {
			display: none;
		}
	}

	.products {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin-top: 50px;

		.product {
			width: 100%;
			margin-bottom: 40px;

			@media(min-width: $mediumScreen) {
				width: calc(50% - 20px);
				margin-bottom: 40px;
			}

			@media(min-width: $xxlargeScreen) {
				width: calc(25% - 20px);
				margin-right: 25px;

				&:nth-child(4n) {
					margin-right: 0px;
				}
			}

			@media(min-width: $xxxlargeScreen) {
				width: calc(20% - 20px);
				margin-right: 25px;
				margin-bottom: 50px;

				&:nth-child(4n) {
					margin-right: 25px;
				}

				&:nth-child(5n) {
					margin-right: 0px;
				}
			}

			a {
				img {
					border: 1px solid $blue;
					min-height: 300px;
					max-width: 100%;
				}
			}

			.woocommerce-loop-product__link {
				display: block;
				text-decoration: none;

				img {
					border: 1px solid $blue;
					min-height: 300px;
					max-width: 100%;
					margin-left: auto;
					margin-right: auto;
					display: block;
				}

				.woocommerce-loop-product__title {
					min-height: 80px;
					color: $grey;
					text-align: center;
					font-weight: 400;
					margin-top: 15px;
				}
			}

			.button {
				background-color: $blue;
				color: $white;
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
				display: block;
				max-width: 250px;
				text-align: center;
			}

			.price {
				display: none;
			}

			.woocommerce-loop-product__link {
				display: flex;
				justify-content: center
			}

			.product__loop__interal {
				position: relative;
				width: 300px;
				z-index: -1;

				.onsale {
					position: absolute;
					left: 0;
					top: 0;
					color: $white;
					background-color: $blue;
					padding: 10px 20px;
					font-size: 20px;
				}
			}

			
		}
	}

	.woocommerce-pagination {

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			list-style: none;
			padding-top: 50px;
			padding-bottom: 50px;

			.page-numbers {
				color: $blue;
				border: 2px solid $blue;
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 0.5s;
				margin-left: 5px;
				margin-right: 5px;
				font-size: 20px;
				text-decoration: none;


				&:hover {
					background-color: $blue;
					color: $white;
					text-decoration: none;
				}

				&.current {
					color: $white;
					background-color: $blue;
					border: none;
				}

				&.prev {
					border: none;
					color: $blue;
					transition: 0.5s;
					margin: 0px;
					justify-content: flex-start;
					font-size: 30px;
					&:hover {
						text-decoration: none;
						color: $blue;
						background-color: transparent;
					}
				}

				&.next {
					border: none;
					color: $blue;
					transition: 0.5s;
					margin: 0px;
					justify-content: flex-end;
					font-size: 30px;
					&:hover {
						text-decoration: none;
						color: $black;
						background-color: transparent;
					}
				}
			}
		}
	}
}